<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{title}}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <meta name="google-signin-client_id" content="2859472415-bbbhbl9bviq6gjigv7e49t1r6su04le2.apps.googleusercontent.com">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
<!--    <link rel="stylesheet" href="css/reset.css"> &lt;!&ndash; CSS reset &ndash;&gt;-->
    <link rel="stylesheet" href="dist/css/style.min.css"> <!-- Resource style -->
    <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css">
        <noscript>JavaScript is off. Please enable to view full site.</noscript>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- Leave those next 4 lines if you care about users using IE8 -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">< /script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">< /script>
        <![endif]-->
    </head>
    <body id="body" ng-app="routerApp">
        {% block stylesheet %}
            <div id="include_css"></div>
        {% endblock %}
        <div id="wrapper" class="wrapper">
            {% block nav %}
            {% endblock %}
            {% block rightbar %}
            {% endblock %}
            {% block body %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        </div>

        {% block script %}

            <script type="text/javascript" src="/socket.io/socket.io.js"></script>
            <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.min.js"></script>
<!--            <script src="dist/js/main.min.js"></script> -->
             <script>

                var connectionOptions =  {
                            "force new connection" : true,
                            "reconnectionAttempts": "Infinity", //avoid having user reconnect manually in order to prevent dead clients after a server restart
                            "timeout" : 10000, //before connect_error and connect_timeout are emitted.
                            "transports" : ["websocket"]
                        };


                var socket = io('https://sandbox.kinomap.com:5000', connectionOptions);

                socket.on('connectedUsers', function (data) {
                    console.log('connectedUsers');
                    console.log(data);
                        socket.on('getTrainingUsers', function(data){
                        //refresh_users_list(data);
                        console.log(data);
                    })
                });

                socket.on('connect', function(){
                    socket.emit('getTrainingUsers');
                    console.log('client connected');
                });

                socket.on('disconnect', function(){
                    console.log('disconnect !!!');
                })

                function onSuccess(googleUser) {
                    console.log(googleUser.getBasicProfile());
                    socket.emit('googleOauth', googleUser.getBasicProfile());
                }
                function onFailure(error) {
                  console.log(error);
                }
                function renderButton() {
                  gapi.signin2.render('my-signin2', {
                    'scope': 'profile email',
                    'width': 240,
                    'height': 50,
                    'longtitle': true,
                    'theme': 'dark',
                    'onsuccess': onSuccess,
                    'onfailure': onFailure
                  });
                }

/*                var users= [

                {'id':1,
                 'username':'Toto',
                 'mediaTitle':'Beyouce',
                 'mediaURL':"http://wwww.youtube.com/ydgdg",
                 'avatar':"https://www.google.fr/search?espv=2&biw=1745&bih=868&tbm=isch&q=avatar+icon&sa=X&ved=0ahUKEwinrsOP_-7NAhWEXBoKHZaKCpsQhyYIIA",
                 'watts':150,
                 'duration':'00:42:10'},
                 {'id':2,
                 'username':'Tota',
                 'mediaTitle':'Beyouce',
                 'mediaURL':"http://wwww.youtube.com/ydgdg",
                 'avatar':"https://www.google.fr/search?espv=2&biw=1745&bih=868&tbm=isch&q=avatar+icon&sa=X&ved=0ahUKEwinrsOP_-7NAhWEXBoKHZaKCpsQhyYIIA",
                 'watts':150,
                 'duration':'00:42:10'},

                {'id':3,
                 'username':'Toutou',
                 'mediaTitle':'Beyouce',
                 'mediaURL':"http://wwww.youtube.com/ydgdg",
                 'avatar':"https://www.google.fr/search?espv=2&biw=1745&bih=868&tbm=isch&q=avatar+icon&sa=X&ved=0ahUKEwinrsOP_-7NAhWEXBoKHZaKCpsQhyYIIA",
                 'watts':150,
                 'duration':'00:42:10'},

                ];*/

/*                function create_user_news(users[id]){
                   var html=' <li class="collection-item avatar">';
                    html+='<i class="material-icons circle red"><img src="'+users[id].avatar+'"/></i>';
                    html+='<span class="title">'+users[id].username+'</span>';
                    html+='<p><a href="'+users[id].mediaURL+'" target="frame">'+users[id].mediaTitle+'</a>';
                    html+=' '+users[id].watts+'<br>'+users[id].duration+'</p>';
                    html+='<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>';
                    html+=' </li>';
                }*/

              </script>
              <script src="https://apis.google.com/js/platform.js?onload=renderButton"></script>

        {% endblock %}
    </body>
</html>
