{% extends 'base.html.twig' %}

{% block title %}{{appName}}{% endblock %}


{% block body %}
	<a href="/">back</a>
	<form action="/api/login" method="POST">
		<input type="text" name="username" id="username" placeholder="Username">
		<input type="password" name="password" id="password" placeholder="password">
		<input type="submit" value="connexion">
	</form>
{% endblock %}